body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  background-color: #800080;
  color: white;
  border: none;
  text-align: center;
  padding: 20px;
}

h2 {
  text-align: left;
  color: #333;
}

h3 {
  text-align: left;
  color: #333;
}

.expense-form,
.expense-filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.expense-form input,
.expense-filter input,
.expense-form button {
  padding: 10px;
  font-size: 16px;
  outline: none;
 
}

.expense-form button {
  background-color: #800080;
  color: white;
  border: none;
  cursor: pointer;
}


.expense-form button:hover {
  opacity: 80%;
}

.expense-list ul,
.expense-total ul {
  list-style-type: none;
  padding: 0;
}

.expense-list li,
.expense-total li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
}

.expense-list li span,
.expense-total li span {
  flex: 1;
}

.expense-list li .expense-name,
.expense-total li .expense-name {
  flex: 2;
}

.expense-list li .expense-amount,
.expense-total li .expense-amount {
  flex: 1;
  text-align: right;
}

.expense-list li .expense-date,
.expense-total li .expense-date {
  flex: 1;
  text-align: center;
}

.expense-list .cancel-button,
.expense-total .cancel-button {
  background-color: #d9534f;
  color: white;
  border: none;
  cursor: pointer;
}

.expense-list .cancel-button:hover,
.expense-total .cancel-button:hover {
  background-color: #c9302c;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  background-color: #f4f4f4;
  border-top: 1px solid #ddd;
}

footer p {
  margin: 0;
  color: #333;
}